.logo{
    position:absolute;
    left: 0px;
    top: 0px;
    height:40%;
    width: 40%;
}
body{
    background-color: #369457;
}
nav{
    text-transform: uppercase;
    color: #032202;
    position:absolute;
    right: 400px;
    top: 35px;
    font-size: 200%;

}