.cabecalho{
    background-color: #ffff;
    color: #369457;
}
.menu {
    position: absolute;
    top: 250px;
    left: 15px;
    right: 15px;
    height: 1100px;
    width: 1875px;
    background-color: #369457;
    text-align: center;
    color: #ffff;
}
.logo{
    position: absolute;
    left: 15px;
    top: 15px;
    height: 20%;
    width: 20%;
}
.Introdução{
    position: absolute;
    top: 15px;
    right: 480px;
}
.Personagens{
    position: absolute;
    top: 15px;
    right: 360px;
}
.Enredo{
    position: absolute;
    top: 15px;
    right: 280px;
}
.Legado {
    position: absolute;
    top: 15px;
    right: 200px;
}
.Direção {
    position: absolute;
    top: 15px;
    right: 15px;
}
.titulo{
    position: absolute;
    top: 20px;
    left: 800px;
}
.txtprinc{
    position: absolute;
    top: 70px;
    left: 15px;
    font-size: 30px;
}
.fotointro{
    position: absolute;
    top: 250px;
    left: 350px;
}

